{% extends 'base.html'%}

{% block content%}
{% load crispy_forms_tags%}

<div class="container">
    <div class="row">
        <!-- Left sidebar -->
        <!-- sidebar loads here -->
        {% include 'dashboard/sidebar.html'%}


        <!-- Right sidebar -->
        <div class="col-md-9">
            {% if perms.auth.add_user%}
            <h4>Edit User</h4>
            <form action="" method="POST">
                {% csrf_token%}
                {{ form.media}}
                {{ form | crispy}}
                <button type="submit" class="btn btn-warning">Submit</button>
            </form>
            {% else%}
            <h5>You do not have permission to view this page.</h5>
            {% endif%}
        </div>
    </div>
</div>

{% endblock%}