{% extends 'base.html'%}

{% block content%}
<div class="row">
    <!-- Left sidebar -->
    <!-- sidebar loads here -->
    {% include 'dashboard/sidebar.html'%}


    <!-- Right sidebar -->
    <div class="col-md-9">
        {% if perms.auth.view_user%}
        <h4>All Users</h4>
        <a href="{% url 'add_user'%}" class="btn btn-dark text-light float-right mb-2">Add User</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Active</th>
                    <th>Staff</th>
                    <th>Superuser</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users%}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{ user.first_name}} {{ user.last_name}}</td> 
                    <td>{{ user.username}}</td>
                    <td>{{ user.email}}</td>
                    <td>{% if user.is_active%}<i class="fa fa-check text-success">T</i> {% else%}<i class='fas fa-trash-alt' style="color: red;">F</i> {% endif%}</td>
                    <td>{% if user.is_staff%}<i class="fa fa-check text-success">T</i> {% else%}<i class='fas fa-trash-alt' style="color: red;">F</i> {% endif%}</td>
                    <td>{% if user.is_superuser%}<i class="fa fa-check text-success">T</i> {% else%}<i class='fas fa-trash-alt' style="color: red;">F</i> {% endif%}</td>
                    <td>
                        <a href="{% url 'edit_user' user.id%}"><i class="fa fa-edit text-success">E</i></a> &nbsp; 
                        <a href="{% url 'delete_user' user.id%}"><i class='fas fa-trash-alt' style="color: red;">R</i></a>
                    </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
        {% else%}
        <h5>You do not have permission to view this page.</h5>
        {% endif%}
    </div>
</div>

{% endblock%}